*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* ### Primary */

  --lgradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%); /*(active input border)*/
  --red: hsl(0, 100%, 66%); /*(input errors)*/

  /* ### Neutral */

  --white: hsl(0, 0%, 100%);
  --lightgrayviolet: hsl(270, 3%, 87%);
  --darkgrayviolet: hsl(279, 6%, 55%);
  --verydarkviolet: hsl(278, 68%, 11%);
}

body {
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.125rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
